{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/authentication/css/choisesign.css">
    <title>Select signup</title>
</head>
<body>
    <nav>

        <div>
            <a href=" {% url 'home' %}">
                <h1>Start-up Fund</h1>
            </a>
           
        </div>
    </nav>

    <main>
        <h1>Register As</h1>
        <div class="content">
           
           
            <div class="content">
                <a href="{% url 's_upinv' %}">
                    <button>An Invester</button> </a> or <a href="{% url 's_upowner' %}"><button>Startup Owner</button>
                </a>
               
            </div>
        </div>
       
    </main>
</body>
</html>